<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>19145793-791C-404F-999B-17FD3D4C5645</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>laravist</string>
			<key>text</key>
			<string>laravist</string>
			<key>url</key>
			<string>https://www.laravist.com/</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5FF52D28-1AE4-4467-89A6-FB81A274B48D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tb</string>
			<key>text</key>
			<string>淘宝</string>
			<key>url</key>
			<string>https://s.taobao.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>677FFC28-6446-4FC7-8AAF-57E577638340</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>imooc</string>
			<key>text</key>
			<string>慕课网</string>
			<key>url</key>
			<string>http://www.imooc.com/u/1157813/courses</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CAD96076-E328-4072-B9E4-1D3F85921A21</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jd</string>
			<key>text</key>
			<string>京东</string>
			<key>url</key>
			<string>https://search.jd.com/Search?keyword={query}&amp;enc=utf-8</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>CB5B6AEA-9A48-479F-B6D0-960D8C3F6C5C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bd</string>
			<key>text</key>
			<string>baidu</string>
			<key>url</key>
			<string>https://www.baidu.com/s?ie=utf-8&amp;f=3&amp;rsv_bp=1&amp;rsv_idx=1&amp;tn=baidu&amp;wd={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>ECCF52B1-2645-4AA2-A925-B9872048DE7D</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>fy</string>
			<key>text</key>
			<string>百度翻译</string>
			<key>url</key>
			<string>http://fanyi.baidu.com/#en/zh/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
